* {
  background-color: white;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.stripe-element {
  width: 100%;
  margin-bottom: 20px;
}

.stripe-error {
  color: red;
}

.main-title {
  text-align: center;
  padding: 20px;
  background-color: #04bf94;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.successAction {
  color: "white";
  padding: 10px 0 10px 0px;
  margin: 0 0 30px 0px;
  background-color: green;
  text-align: center;
  border-radius: 0 0 16px 16px;
  width: 100%;
}
.problemAction {
  color: "white";
  padding: 10px 0 10px 0px;
  margin: 0 0 30px 0px;
  background-color: #ffa500;
  text-align: center;
  border-radius: 0 0 16px 16px;
}
.errorAction {
  color: "white";
  padding: 10px 0 10px 0px;
  margin: 0 0 30px 0px;
  background-color: red;
  text-align: center;
  border-radius: 0 0 16px 16px;
}

#montant {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px 0 30px 0;
}

.button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
}
